body {
font-family: 'Roboto', sans-serif;
margin: 0;
}

a {
text-decoration: none;
color: #f67811;
}

a:hover {
text-decoration: underline;
}

header {
background-color: #000;
display: flex;
align-items: center;
position: relative;
}

header a {
color: #fff;
}

.site-title {
font-family: "Roboto Slab", serif;
font-size: 80px;
font-weight: 100;
margin: 0 0 0 20px;
padding-top: 30px;
}

#site-content{
    display: flex;
    flex-direction: column;
}

.site-nav{
    color: black;
    font-size: large;
}

.site-title a:hover {
text-decoration: none;
}

.content {
display: flex;
}

.filter-container {
display: inline-block;
min-width: 200px;
max-width: 200px;
margin: 10px 10px auto 10px;
padding: 20px;
border-radius: 3px;
background-color: #efefef;
}

.filter-container h2 {
margin: 0;
}

.filter-input-container {
width: 100%;
margin: 20px 0;
display: flex;
align-items: center;
}

.filter-input-element {
margin: 0 5px;
flex: 1 1 100%;
}

.filter-input {
font-size: 14px;
width: 100%;
margin-left: 10px;
padding: 3px;
border: 1px solid #dadada;
border-radius: 3px;
}

.filter-fieldset {
flex: 1 100%;
border: 1px solid #ababab;
}

#filter-update-button {
width: 100%;
}

.tb { 
border-collapse: collapse; width:300px; 
}
.tb th, .tb td { 
padding: 5px; border: solid 1px #777;
}

.tb th { 
background-color: lightblue; 
}

.table-container {
    display: inline-flex;
    align-content: flex-start;
    flex-wrap: wrap;

}

ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.horizontal li {
    float: left;
}

ul.horizontal li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.horizontal li a:hover:not(.active) {
    background-color: #000;
}

ul.horizontal li a.active {
    background-color:#04AA6D;
}

/*
* 404 page stuff
*/

.error-container {
font-family: "Roboto Slab", serif;
text-align: center;
}

.error-container h2 {
font-size: 128px;
margin-top: 50px;
margin-bottom: 0;
}

.error-container h3 {
font-size: 32px;
margin: 0;
}

